*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* variable declare */

:root{
    --blue:blue;
    --olive:olive;
    --white:white;
    --green:rgb(1, 204, 1);
    --red:red;
}
    
/* nav bar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:99%;
    height:4.5rem;
    position: sticky;
    top:3px;
    left:7px;
    right:2px;
    z-index: 99;
    border-radius: 8px;
    background-color: var(--white);
    backdrop-filter: blur(8px);
}

/* nav bar img */

.navbar section img{
    height:65px;
    width: 120px;
    object-fit: contain;
}

.index{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:40px;
}

.index a{
    text-decoration: none;
    color:#000;
    font-size: 23px;
    padding-right: 10px;
}

.media-index{
    display: none;
 }
 

.nav-btn{
    display: none;
}

/* unit head */
.unithead{
    width:100%;
    height:24rem;
    background-image: url(./Images/unithead.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.1rem;
}

.unitheader{
    font-size: 43px;
    font-weight: 800;
    color:var(--white);
    text-shadow: 0px 2px 8px black;
}

/* unit passage */
.unitpassage{
    width:100%;
    height:20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.unitpassage section{
    padding:30px;
}
.passhead{
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 17px;
    width:620px;
}
.passart{
    font-size: 20px;
    width:600px;
}

/* outlets */
.outlets{
    height:30rem;
    padding:59px;
    background-color: rgb(225, 217, 217);
}
.outlets section{
    display: flex;
}
.outlets1, .outlets3{
    padding:29px;
    height:23rem;
    width:33%;
    background-color: white;
}
.outlets .head{
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 9px;
}
.outlets article{
    font-size: 18px;
}
.outlets2{
    width:33%;
    padding:29px;
    background-color: var(--red);
    color: var(--white);
}

/* best of less */
.bestofless{
    height:20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/outletbg1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.bestofless p, span{
    font-size: 23px;
    font-weight: 800;
    color:white;
}
.bestofless span{
    color:green;
}

/* requirements */
.requirehead{
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.requirebody{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.require{
    height:25rem;
    width:20rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.require p{
    color:transparent;
    font-size: 22px;
    font-weight: 500;
}

.require1{
    background-image: url(./Images/unitrequire0.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 3s;
}

.require1:hover > p{
    color:white;
    text-align: center;
    margin: 20px;
}

.require1:hover{
    background-image: linear-gradient(green,green);
    transform: scale(1.1);
}

.require2{
    background-image: url(./Images/unitrequire1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 3s;
}

.require2:hover > p{
    color:white;
    text-align: center;
    margin: 20px;
}

.require2:hover{
    background-image: linear-gradient(green,green);
    transform: scale(1.1);
}

.require3{
    background-image: url(./Images/unitrequire2.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 3s;
}

.require3:hover > p{
    color:white;
    text-align: center;
    margin: 20px;
}

.require3:hover{
    background-image: linear-gradient(green,green);
    transform: scale(1.1);
}

/* unit number */
.unitnumber{
    margin-top: 60px;
    height:350px;
    width:100%;
    position: relative;
    
}
.unitnumber img{
    opacity: 0.5;
    height:350px;
    width:100%;
    object-fit: cover;
}

.unitnobody{
    height: 350px;
    width:100%;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    gap:9rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    text-align: center;
}

.unitnocount{
    font-size: 40px;
}

/* unit outlet */

.unitoutlet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 40px;
}

.outlet1 div{
    margin-bottom: 20px;
}

.outlet1 p{
    font-size: 22px;
    font-weight: 900;
}

.outlet1 article{
    width:37rem;
}

.outlet2 img{
    height:300px;
    width:460px;
    object-fit: fill;
}

/* teatime group */

.teatimegroup{
    margin-top:60px;
    margin-bottom: 60px;
    height:45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/abouthead.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.group{
    width:50%;
    padding: 3rem;
}

.group1{
    background-color: green;
    color: white;
    text-align: start;
}

.group2{
    background-color: white;
}

.group2 label{
    font-size: 23px;
}

.group2 input{
    padding: 5px;
    width:270px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.group2 button{
    background-color: green;
    color: aliceblue;
    padding: 5px;
    width:270px;
    font-size: 22px;
    border-radius: 8px;
    border: none;
}

.group p{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8px;
}

.group article{
    font-size: 19px;
    margin-bottom: 10px;
}

.groupicon{
    font-size: 32px;
    color: white;
}

.groupicon i{
    margin-right: 15px;
}

.groupbody{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    padding: 5rem;
}

/* associate */

.associate{
    width: 100%;
    background-color:azure;
    padding: 25px;
    margin-bottom: 50px;
}

.associatehead{
    text-align: center;
    font-size: 33px;
    padding-bottom: 20px;
}

.associateimg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}

.associateimg img{
    height:200px;
    width:300px;
    object-fit: fill;
    box-shadow: 0px 1px 4px black;
}

/* footer */

.foot{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--red);
    color: var(--white);
    padding: 30px;
}

.foot section{
    width:300px;
}

.footart{
    padding-top: 10px;
    width: 250px;
    line-height: 30px;
}

.footimg{
    background-color: var(--white);
    width:fit-content;
}

.footimg img{
    height: 100px;
    width:250px;
    object-fit: fill;
}

.foot2{
    display:flex;
    flex-direction: column;
    gap:25px;
}

.foothead{
    font-size: 28px;
    font-weight: 700;
}

.foot2 a{
    text-decoration: none;
    color:var(--white);
    font-weight: 500;
}

.foot3{
    display: flex;
    flex-direction: column;
    gap:25px;
}

.foot3 a{
    text-decoration: none;
    color:var(--white);
    font-weight: 500;
}

.foot3 p{
    font-weight: 500;
}

.foot4{
    background-color: var(--white);
    padding:30px;
    box-shadow: 1px 1px 12px 3px black;
}

.feedboxhead{
    color:black;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.foot4 input{
    padding:5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.foot4 button{
    padding:5px;
    font-size: 20px;
    width:100%;
    background-color: var(--green);
    color:var(--white);
    border: 1px solid black;
    margin-bottom: 10px;
}

.foot1icon{
    font-size: 40px;
    display: flex;
    gap: 20px;
    margin-top: 13px;
}

.foot3 i{
    font-size: 20px;
    padding-right: 5px;
}

.reserve{
    text-align: center;
    font-size: 20px;
    background-color: var(--red);
    color:var(--white);
    padding: 5px;
}


body{
    position: relative;
}

.fix{
    position: fixed;
    top:50%;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width:35px;
}

.fixarrow{
    background-color: #000;
    color:var(--white);
    border-top-right-radius: 30px;
    font-size: 20px;
    padding:6px;
}

.fixwhat{
    background-color: var(--green);
    color:var(--white);
    font-size: 20px;
    padding:6px;
}

.fixphone{
    background-color: var(--green);
    color:var(--white);
    font-size: 16px;
    padding:6px;
    border-bottom-right-radius: 30px;
}

@media screen and (min-width:320px) and (max-width:768px){
    .index{
        display:none;
    }
    .media-index{
        position: absolute;
        position: fixed;
        top:90px;
        left:-800px;
        background-color: green;
        color:white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1.5rem;
        width:100%;
        height:85vh;
        transition: all 2s;
        z-index: 9999;
    }
    .media-index a{
        text-decoration: none;
        color:white;
        font-size: 22px;
        font-weight: 800;
    }
    .nav-btn{
        display: block;
        margin-right: 2rem;
        background-color: transparent;
        border: none;
        color:black;
        font-size: 23px;
    }
    .art1{
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        margin: 2px;
    }
    .art2{
        font-size: 15px;
    }
    .enquiry{
        padding: 2px;
        font-size: 14px;
    }
    .foot{
        flex-wrap: wrap;
        gap:30px;
        width: 100%;
    }
    .foot section{
        width:260px;
    }
    .foot4 input{
        padding:2px;
        font-size: 16.7px;
    }
    .associateimg{
        flex-wrap: wrap;
    }
    .customer{
        flex-wrap: wrap;
    }
    .menu{
        margin-top: 0rem;
    }
    .menupara1{
        font-size: 18px;
        margin: 3px;
    }
    .menutype{
        flex-wrap: wrap;
    }
    .enquiry {
        border-radius: 30px;
        margin: 0;
        padding:5px;
    }
    .enquirybutton{
        margin-top: 10px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .countno{
        flex-wrap: wrap;
    }
    .count img{
        width: 100%;
        object-fit: cover;
    }
    .about{
        flex-wrap: wrap;
        margin-bottom: 53rem;
    }
    .abo1{
        flex-wrap: wrap;
        width:100%;
        margin-bottom: 15px;
    }
    .abo2{
        width: 100%;
    }
    .abopara1{
        margin-bottom: 10px;
    }
    .abopara2{
        margin-top: 40px;
        width:100%;
    }
    .map{
        height:45rem;
        margin-top: 90rem;
        flex-wrap: wrap;
    }
    .mapimg{
        width: 100%;
    }
    .mapimg img{
        object-fit: fill;
        width: 100%;
    }
    .mapbutton{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mapbut{
        margin-right: 0px;
        padding:7px;
        font-size: 16px;
        text-align: center;
    }
    .mapbut1{
        padding:7px;
        font-size: 16px;
        text-align: center;
    }
    .count{
        margin-top: 1rem;
        font-size: 18px;
    }
    .count .countno{
        top:20px;
        font-size: 34px;
        gap: 39px;
        height:29rem;
    }
    .associateimg img{
        width:80px;
        height:80px;
    }
    .playback video{
        width:100%;
    }
    .mapparahead{
        font-size: 18px;
        margin: 3px;
        text-align: center;
    }
    .mappara{
        width: 100%;
    }
    .mappara li{
        font-size: 13px;
        text-align: center;
    }
    .reserve{
        width: 100%;
    }
    .art1{
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .customer{
        padding:0px;
        margin-left: 0;
    }
    .cus1, .cus2, .cus3{
        padding:5px;
        width: auto;
        height: auto;
    }
    .cus1art{
        font-size: 18px;
    }
    .unitpassage{
        padding:10px;
        width:100%;
        height: auto;
    }
    .outlets{
        height:auto;
        padding:2px;
        background-color: rgb(225, 217, 217);
    }
    .outlets section{
        padding:10px;
        display: flex;
        gap:10px;
        flex-wrap: wrap;
    }
    .outlets1, .outlets3{
        padding:20px;
        height:auto;
        width:100%;
        background-color: white;
    }
    .outlets2{
        width:100%;
        padding:20px;
    }
    .passhead{
        width: 100%;
    }
    .passart{
        width:100%;
    }
    .unithead{
        text-align: center;
    }
    .unitpassage iframe{
        width:100%;
    }
    .groupbody{
        flex-wrap: wrap;
        width:100%;
        padding:10px;
        height: auto;
    }
    .group1{
        width:100%;
        height:auto;
    }
    .group2{
        width:100%;
        height:auto;
    }
    .requirebody{
        padding:10px;
    }
    .bestofless{
        text-align: center;
    }
    .unitnobody{
        height:100%;
        gap:1.7rem;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
    .unitnumber{
        height:auto;
    }
    .unitoutlet{
        gap:5px;
        height:auto;
    }
    .outlet1 article{
        width:100%;
    }
    .outlet2 img{
        width:100%;
    }
    .teatimegroup{
        height: auto;
    }
    .group2 input{
        width:100%;
    }
    .group2 button{
        width:100%;
    }
    .outlet1{
        padding:10px;
        text-align: center;
    }
}